html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.gallery {
  max-width: 860px;
  margin: 30px auto;
  text-align: center;
}

.gallery .photos {
  position: relative;
  padding-bottom: 80%;
}

.gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.gallery .photos img.showed {
  opacity: 1;
}
